/ios_fs/build
/bin
/sections
/patched_sections
/wupserver/build
/patches/*.syms
/*.img
/ios_fs/*.bin
/ios_fs/*.elf
/ios_fs/*.syms
/wupserver/*.elf
/wupserver/*.bin
/tools/sdio_nand_extractor/bin/Release/*.exe
/tools/sdio_nand_extractor/obj/Release/*.o
/tools/sdio_nand_extractor_old_offsets/bin/Release/*.exe
/tools/sdio_nand_extractor_old_offsets/obj/Release/*.o
/tools/sdio_nand_extractor_old_offsets/*.ini
/tools/sdio_nand_extractor/*.ini
/scripts/keys.py
/scripts/*.pyc
